<div>
  <ul >
    <li id="menu_1" class="default" >
      <div class="close_button">&#215;</div>
      <div>Rules &amp; Terms</div>
    </li>
    <li id="menu_2" class="default" >
      <div class="close_button" >&#215;</div>
      <div>Support</div>
    </li>
  </ul>
</div>
<div id="container">
<div id="rules_main" class="option_1 hide">
  <div class="rules">
    <%= render 'home/partials/rules' %>
  </div>
  <div class="support">
    <%= render 'home/partials/support' %>
  </div>
</div>
</div>
