<div id="main_content">
  <div id="puzzle_container">
    <p> Game would be here </p>
  </div>
<%= link_to "Take me to the sweeps!", {:controller => :home, :action => :sweeps}, :class => 'large_button', method: :get %>
<p class="bottom_text">VISIT <a href="http://tmpg.com">TMPG.COM</a></p>
</div>
