<div id="main_content">
  <div id="landing_container">
      <div class="thank_you_container">
        <h1>Thank You</h1>
        <h2>You have entered the TMPG Sweepstakes.</h2>
      </div>
  </div>
  <p class="bottom_text_thin">NO PURCHASE NECESSARY. SWEEPSTAKES ENDS 2/29/3748</p>
  <p class="bottom_text">You are now being redirected to<br><a href="http://tmpg.com">TMPG.COM</a></p>
  <%= render 'home/partials/animations/spinner' %>
</div>
