<div id="social_button">Share</div>
<div id="social_menu">
  <ul>
    <li id="share_facebook">Facebook</li>
    <li id="share_twitter">Twitter</li>
    <li><a href="mailto:?subject=Enter for a chance to win nothing with the TMPG Sweepstakes at http://tmpg.com."
   title="Share by Email">Email</a></li>
  </ul>
</div>
