<div id="main_content">
  <div id="landing_container">
      <p>Sweeps Landing</p>
  </div>
  <%= link_to "Enter Now", 'javascript:;', :class => 'large_button', :id => 'enter_button', :onclick => "document.getElementById('register_container').className = 'open'"%>
  <p class="bottom_text">VISIT <a href="http://tmpg.com">TMPG.COM</a></p>
</div>
