<div id="main_content">
  <div id="landing_container">
    <p>Welcome to TMPG</p>
  </div>
  <%= link_to "Play Now", {:controller => :home, :action => :game}, :class => 'large_button', method: :get%>
  <p class="bottom_text">VISIT <a href="http://tmpg.com">TMPG.COM</a></p>
</div>
